.title{
    display: grid;
    justify-items: center;
    align-content: center;
    width: 1278px;
    height: 166px;
    font-family: Proxima Nova;
}
.title_name{
    font-size: 44px;
    width: 900px;
    height: 77px;
    text-align: center;
}
.title_desc{
    width: 700px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}