.App{
  max-width: 1510px;
  max-height: 918px;
  background-color: #FFEEEE;
}
.main_content{
  max-width: 1367px;
  max-height: 700px;
  padding: 98px 72px 120.13px 72px;
}
.content{
  max-width: 1150px;
  max-height: 426.87px;
  padding: 180px 108px 120px 108px;
}
@media (max-width: 767px){
  .App{
    max-width: 1510px;
    max-height: 1700px;
    background-color: #FFEEEE;
  }
  .main_content{
    max-width: 1367px;
    max-height: 1700px;
    padding: 90px 51px 60px 51px;
  }
  .content{
    max-width: 1150px;
    max-height: 1000px;
    padding: 430px 0px 0px 0px;
  }
}